@mixin container($selector, $text-color, $background-color, $link-hover-color)
  .loading-page.#{$selector}, .container.#{$selector}
    .logo:not(.special) *
      fill: $text-color

  .loading-page.#{$selector}
    background: $background-color//-blog

    &, > *
      color: $text-color//-blog

  .container.#{$selector}

    .sectionbar
      background: $background-color

      .arrow path
        stroke: $text-color !important

    &, strong, h1, h2, h3, h4, h5, h6
      color: $text-color

    a:not(.simple)
      transition: color 333ms ease-out

      &:hover, &:hover > *
        color: $link-hover-color !important

      &:focus, &:focus > *, &:focus-within, &:focus-within > *
        color: darken( $link-hover-color, 10% ) !important

    &::before
      background-color: $background-color

@include container("blog", $text-color-blog, $background-color-blog, $link-hover-color-blog)
@include container("home", $text-color-home, $background-color-home, $link-hover-color-home)
@include container("about", $text-color-about, $background-color-about, $link-hover-color-about)
