@mixin transition-fade($attribute)
  transition: $attribute 800ms ease-out

@mixin container($selector, $text-color, $background-color, $link-hover-color)
  .loading-page.#{$selector}, .container.#{$selector}
    .logo:not(.special) *
      fill: $text-color
      @include transition-fade(fill)

  .loading-page.#{$selector}
    background: $background-color

    &, > *
      color: $text-color

  #template.#{$selector}
    .menu
      &-column
        &::before
          background: $background-color
          box-shadow: 0px 0px 30px 30px $background-color
      & > .button
        background: rgba($background-color, 0.8)
        border-color: $text-color

        p
          @include transition-fade(color)
          color: $text-color

        &:hover, &:focus
          background: $text-color
          border-color: $background-color

          .logo *
            fill: $background-color

          p
            color: $background-color

    .sectionbar
      background: $background-color

      .arrow path
        stroke: $text-color !important

    &, h1, h2, h3, h4, h5, h6, a, strong, p
      color: $text-color
      @include transition-fade(color)

    a:not(.simple)
      &, & *
        position: relative
        transition: color 500ms ease-out, fill 500ms ease-out

      &.outlined
        border-color: $text-color

      &:hover, &:hover *,
        color: $link-hover-color !important
        fill: $link-hover-color !important

      &:focus, &:focus > *, &:focus-within, &:focus-within > *
        color: darken( $link-hover-color, 10% ) !important

    &::before
      background-color: $background-color
      @include transition-fade(background-color)

    .photo-slice .img-foot, .lingallery .lingallery_caption
      background: darken($background-color, 10%) !important
      color: $text-color !important

    .entry-related
      border-color: lighten($background-color, 10%)

    .lingallery .control span, .VueCarousel .VueCarousel-navigation-button
      color: lighten($text-color, 10%) !important
      text-shadow: none
      font-size: 1.25rem

    .VueCarousel .VueCarousel-dot--active
      background-color: darken($background-color, 20%) !important

    .lingallery .lingallery_thumbnails_content_elem img
      border-color: darken($background-color, 20%) !important
      margin-left: 5px

  .entry-header.generic
    .entry_type > .subtitle.#{$selector}_entry
      color: $text-color
      &::before
        background-color: $background-color
        border-color: lighten($background-color, 10%)

@include container("blog", $text-color-blog, $background-color-blog, $link-hover-color-blog)
@include container("home", $text-color-home, $background-color-home, $link-hover-color-home)
@include container("about", $text-color-about, $background-color-about, $link-hover-color-about)
@include container("portfolio", $text-color-portfolio, $background-color-portfolio, $link-hover-color-portfolio)
@include container("photography", $text-color-photography, $background-color-photography, $link-hover-color-photography)
