html, body
  margin: 0 !important
  padding: 0 !important


.container > *::before
  content: ''
  position: absolute
  min-height: 100vh
  height: 100%
  width: 100vw
  right: 50%
  margin-right: -50vw
  top: 0
  z-index: -10


h1, h2, h3, h4, h5, h6
  font-family: 'Palanquin Dark', sans-serif

.title-main
  margin: 2rem

  .title
    font-size: 3em !important