html, body
  margin: 0 !important
  padding: 0 !important

.container::before
  content: ''
  position: absolute
  min-height: 100vh
  height: 100%
  width: 100vw
  right: 50%
  margin-right: -50vw
  top: 0
  z-index: -10


h1, h2, h3, h4, h5, h6
  font-family: 'Palanquin Dark', sans-serif

a:not(.simple)
  position: relative 
  display: inline-block

  &::before
    content: ''
    transition: width 333ms ease-out
    background-color: #fff
    position: absolute
    border-radius: 5px
    height: calc(100% + 10px)
    width: 0%
    top: -5px
    right: -5px
    z-index: -1

  &:hover, &:active, &:focus
    &::before
      width: calc(100% + 10px)
      left: -5px
      right: inherit

.title-main
  margin: 2rem

  .title
    font-size: 3em !important

.columns
  margin-top: inherit !important
  margin-bottom: inherit !important


@import '~/assets/css/content.sass'
