$text-color-blog: #3a3833
$background-color-blog: #f4ecd8
$link-hover-color-blog: #363636

$text-color-home: #ffffff
$background-color-home: #ff5337
$link-hover-color-home: #ff5337

$text-color-about: #F8F8F8
$background-color-about: #8c31b6
$link-hover-color-about: #8c31b6

$text-color-portfolio: #f3f3f3
$background-color-portfolio: #297b48
$link-hover-color-portfolio: #297b48

$text-color-photography: #F6F7FF
$background-color-photography: #11213A
$link-hover-color-photography: #11213A
