$text-color-blog: #363636
$background-color-blog: #f4ecd8
$link-hover-color-blog: #363636

$text-color-home: white
$background-color-home: #ff5337
$link-hover-color-home: #ff5337

$text-color-about: white
$background-color-about: #8c31b6
$link-hover-color-about: #8c31b6
